#navrow1, #navrow2, #navrow3, #navrow4, #navrow5{
    border-bottom: 1px solid #EEEEEE;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

.navbar-right {
    float: right!important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #464646;
}

.nav-pills > li > a {
    color: #464646;
    padding-left: 0px;
    padding-right: 0px;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -65px;
}

#toc {
    border: 1px solid #EEEEEE;
    border-radius: 7px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
}

#toc ul {
    list-style: outside none none;
}

#toc > ul > li > ul li {
    margin-left: -15px;
}

.contents {
    margin: 10px;
}

.index {
    margin-left: 20px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
   vertical-align: middle;
}

code {
    background-color: #F7F7F7;
    white-space: nowrap
}

div.fragment, pre.fragment {
    padding: 4px 4px;
    font-size: 90%;
    color: #C7254E;
    background-color: #F7F7F7;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

.section.user dd {
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #464646;
    margin-right: initial;
}

strong a {
    font-weight: bold;
}

span.octicon {
    margin-right: 5px;
    color: #464646;
}

html, body {
    height: 100%;
    color: #464646;
}

#main {
    min-height: 100%;
    height: auto;
    margin: 0 auto -100px;
    padding: 0 0 100px;
}

#footer {
    height: 80px;
    font-size: 0.9em;
    margin-top: 20px;
    padding: 8px 0px;
    border-top: 1px solid #EEEEEE;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.social-btns {
    margin-top: 2px;
    margin-bottom: 2px;
}

.social-btns li {
    display: inline-block;
    margin: 0px;
}

.github-btn {
    overflow: hidden;
    border: 0px none;
}
