html, body {
    height: 100%;
    color: #464646;
}

.container {
    position: relative;
}

.navbar-right {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.navbar-right > li {
    float: left;
}

#content {
    height: auto;
    min-height: 100%;
    padding-top: 55px;
    padding-bottom: 140px;
    margin-bottom: -140px;
}

@media (max-width: 767px) {
    #content {
        padding-top: 110px;
    }
}

#footer {
    height: 100px;
    font-size: 0.9em;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #EEEEEE;
}

.github-btn {
    overflow: hidden;
    border: 0px none;
    height: 20px;
    width: 102px;
}

.toc {
    background-color: #F9F9F9;
    border: 1px solid #EEEEEE;
    border-radius: 7px;
    margin: 0px 5px 10px 10px;
}

.toc ul {
    list-style: none;
}

.toc > ul > li > ul {
    padding-left: 1em;
}

.memitem.panel > .panel-heading {
    position: relative;
    padding-right: 0;
}

.memitem.panel > .panel-heading > i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 1em;
    font-size: 1.5em;
    opacity: 0.9;
}

.memitem.panel > .panel-heading > .panel-title {
    font-size: 1em;
    margin-right: 2.5em;
}

h1:hover > a.anchor:after,
h2:hover > a.anchor:after,
h3:hover > a.anchor:after {
    content: "";
    position: absolute;
    top: 65px;
    height: 1.1em;
    width: 100%;
    cursor: pointer;
}

@media (max-width: 767px) {
    h1:hover > a.anchor:after,
    h2:hover > a.anchor:after,
    h3:hover > a.anchor:after {
        top: 120px;
    }
}

.page-header + .sub-page-header {
    margin-top: -15px;
}

a:not([href]) {
    visibility: hidden;
}

a.anchor {
    display: block;
    position: relative;
    top: -65px;
}

@media (max-width: 767px) {
    a.anchor {
        top: -120px;
    }
}

a:focus {
    outline: none;
}

p {
    text-align: justify;
}

.index-entry {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.doxtable {
    font-size: 1.1em;
}

.doxtable th {
    background-color: #f9f9f9;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

pre.fragment, code {
    background-color: #F9F9F9;
    color: #C7254E;
    white-space: pre;
    word-wrap: normal;
    word-break: keep-all;
}

pre.fragment {
    border: 1px solid #EEEEEE;
}

pre.fragment div.line:after {
    content: "\000A";
    white-space: pre;
}

span.keyword, span.keywordflow, span.keywordtype {
    color: #008000;
}

span.preprocessor {
    color: #806020;
}

span.charliteral, span.stringliteral {
    color: #E08000;
}

dl.section {
    margin: 0;
}

dl.section:not(.user) dt, dl.section:not(.user) dd {
    display: inline;
}

dl.section.user dd {
    margin-left: 20px;
}

i.octicon {
    margin-right: .5em;
}

.caret {
    margin-left: .5em;
}

.strike {
    text-decoration: line-through;
}
